.container {
    position: absolute;
    inset: 0;
    z-index: 3;
    display: grid;
    gap: 2px;
    box-sizing: border-box;
    min-width: 0;
    min-height: 0;
    justify-content: space-between;
}

.container > * {
    min-width: 0;
    min-height: 0;
}
