.panel {
    position: absolute;
    inset: 0;
    z-index: 70;
}

.background {
    position: absolute;
    z-index: 0;
    object-fit: fill;
}

.controls {
    z-index: 1;
}

.controls :global(button > span) {
    font-family: ZlatoPalatino, "Palatino Linotype", serif;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    text-shadow: none;
}

